<center> 	
<div class="well">
<p> Titre de l event : <%= @event.title %> </p>

<p> Le potin en question : <%= @event.description %> </p>

<p> Pseudo de la balance : <%= @event.duration %> </p>

<p> Ville : <%= @event.location %> </p>

<p> Date de l evenement : <%= @event.start_date %> </p>

