<!DOCTYPE html>

<html>

  <head>

 <title>Event</title>

    <%= csrf_meta_tags %>

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <title>Accueil</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-inverse" style="background-color: #000000">

  <div class="container-fluid">

    <ul class="nav navbar-nav">

      <li><%= link_to "Home", events_path %></li>

      <li><%= link_to "Créer un evenement", new_event_path %></li>

    </ul>

    <form class="btn pull-right">

    <div class="dropdown">

    <li class="nav-item">

            <% if signed_in? %>

            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

             <span class="caret"></span>

            </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

            <li><%= link_to 'Mon profil', user_path(current_user), class:'login text-decoration-none' %></li>

            <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></li>

            

            <% else %>

            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

             <span class="caret"></span>

            </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

            <li><%= link_to "S'inscrire", new_user_registration_path, class:'login text-decoration-none' %></li>

           <li><%= link_to 'Se connecter', new_user_session_path, class:'login text-decoration-none' %></li>

           

            <% end %>

          </li>

  </div>

    </form>

  </div>

</nav>

    

    <%= yield %>

  </body>

</html>

